<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="index.js"></script>
    <title>Change Password</title>
</head>
<body id="change_password">
    <form class="change_password_container">
        <div class="validation_msg hidden">Please review the form.</div>
        <fieldset>
            <div class="attribute_box password_box">
                <label for="password">Change password:</label>
                <div>
                    <div class="displayed password_create">
                        <input name="password" class="password" id="new-password" type="password">
                        <button tabindex="-1" type="button" class="reveal"><i class="fa-solid fa-eye"></i></button>

                    </div>
                    <span class="help_msg confirm_password">confirm new password</span>
                    <div  class="displayed password_create">
                        <input class="password" id="new-password-confirmation" type="password">
                        <button tabindex="-1" type="button" class="reveal"><i class="fa-solid fa-eye"></i></button>
                    </div>
        </fieldset>
        <button  type="submit" class="send_form">Submit change</button>
    </form>
</body>
</html>