<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script defer src="index.js"></script>
    <title>Create Password</title>
  </head>
  <body id="create_password">
    <form class="form_create_password_container" action="">
      <div class="validation_msg hidden">Please review the form.</div>
      <fieldset class="form_key_information">
        <h2>Key Information:</h2>
        <div class="attribute_box">
          <label for="title">Title for the password</label>
          <input id="title" type="text" />
        </div>
        <div class="attribute_box">
          <label for="source">Source:</label>
          <input id="source" type="text" />
        </div>
        <div class="attribute_box">
          <label for="user">User ID:</label>
          <input id="user" type="text" />
        </div>
        <div class="attribute_box">
          <label for="category">Category:</label>
          <select name="" id="category">
            <option value="Cryto and Wallets">Cryto and Wallets</option>
            <option value="Google Accounts">Google Accounts</option>
            <option value="Social Media Accounts">Social Media Accounts</option>
            <option value="Programming Tools">Programming Tools</option>
            <option value="One time websites">One time websites</option>
            <option value="Bureoucracy and Paperwork websites">
              Bureoucracy and Paperwork websites
            </option>
            <option value="Bank Accounts">Bank Accounts</option>
            <option value="Work Related Tools">Work Related Tools</option>
            <option value="Work Related Iternal Tools">
              Work Related Iternal Tools
            </option>
            <option value="Owned Domains">Owned Domains</option>
            <option value="Video Games">Video Games</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Shopping and E-commerce">
              Shopping and E-commerce
            </option>
          </select>
        </div>
        <div class="attribute_box password_box">
          <label for="password">Password:</label>
          <div>
            <div class="displayed password_create">
              <input class="password" id="new-password" type="password" />
              <button tabindex="-1" type="button" class="reveal">
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
            <span class="help_msg confirm_password">confirm new password</span>
            <div class="displayed password_create">
              <input
                class="password"
                id="new-password-confirmation"
                type="password"
              />
              <button tabindex="-1" type="button" class="reveal">
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form_additional_information">
        <h2>Additional Information(optional)</h2>
        <div class="attribute_box">
          <label for="description">Description:</label>
          <textarea
            class="optional"
            cols="30"
            rows="5"
            name=""
            id="description"
          ></textarea>
        </div>
        <div class="attribute_box">
          <label for="allowed_chr">Allowed special characters</label>
          <textarea
            class="optional"
            cols="30"
            rows="5"
            cols="30"
            rows="5"
            name=""
            id="allowed_chr"
          ></textarea>
        </div>

        <div class="attribute_box">
          <label for="creation">Password creation date:</label>
          <input class="optional" type="text" name="" id="creation" />
        </div>
        <div class="attribute_box">
          <label for="expiry">Password expiry date:</label>
          <input class="optional" type="text" id="expiry" />
        </div>
      </fieldset>
      <button type="submit" class="send_form">Submit</button>
      <a class="link_button secundary" href="./dashboard">Return to dashboard</a>
    </form>
  </body>
</html>
